.btn_sodi, .btn_pesan, .btn_iyo1, .btn_iyo2, .btn_back1, .btn_back2 {
    height: 35px;
    background-color: #10375C;
    border: none;
    border-radius: 5px;
    color: white;
}

.animasi {
    animation: slide 0.2s;
}

@keyframes slide {
    0% { transform: scale(0); }
    /* 50% { transform: scale(1.5); } */
    100% { transform: scale(1); }
  }