body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.box {
    margin-top: 10rem;    
    background-color: #FA812F;
    height: 340px;
    width: 250px;
    display: flex;
    border-radius: 1rem;
    justify-content: center;
}

.hay {
    color: white;
}

.image {
    width: 200px;
    position: absolute;
    top: 11rem;
}

input {
    margin-top: 10rem;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 2px white solid;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #10375C;
    color: white;
    width: 4rem;
    border: 2px white solid;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.footer {
    position: relative;
    left: 8.5rem;
    font-size: 13px;
    top: 0.7rem;
    font-style: italic;
    color: white;
}